<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DEVS -->
      <category
            id="org.eclipse.DEVS.framework.editor.wizards.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Model.presentation.DEVSModelWizardID"
            name="%_UI_DEVSModelWizard_label"
            class="Model.presentation.DEVSModelWizard"
            category="org.eclipse.DEVS.framework.editor.wizards.ID"
            icon="icons/full/obj16/DEVSModelFile.gif">
         <description>%_UI_DEVSModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DEVS -->
      <editor
            id="Model.presentation.DEVSEditorID"
            name="%_UI_DEVSEditor_label"
            icon="icons/full/obj16/DEVSModelFile.gif"
            extensions="devs"
            class="Model.presentation.DEVSEditor"
            contributorClass="Model.presentation.DEVSActionBarContributor">
      </editor>
   </extension>

</plugin>
